<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ManagerConfiguration"            type="Tenaris.Tamsa.LockVerification.Manager.ManagerConfiguration,              Tenaris.Tamsa.LockVerification.Manager" />    
    <section name="LockVerificationConfiguration"   type="Tenaris.Library.Framework.Factory.FactoryConfiguration,                   Tenaris.Library.Framework" />
    <section name="ManagerBaseConfiguration"        type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration,      Tenaris.Manager.Forum.Shared" />
    <section name="Tenaris.Manager.Mail"            type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection,  Tenaris.Library.Proxy"/>
    <section name="log"                             type="Tenaris.Library.Log.LogConfiguration,                                     Tenaris.Library.Log"/>
    <section name="Tenaris.Manager.Command.CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <!--<section name="Tenaris.Manager.Command.CommandManager" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>-->
    <section name="Tenaris.Tamsa.LockVerification.CommandAdapter" type="Tenaris.Tamsa.LockVerification.CommandAdapter.CommandAdapterConfiguration, Tenaris.Tamsa.LockVerification.CommandAdapter"/>
    
  </configSections>

  <!--CONNECTION CONFIGURATION-->
  <connectionStrings>
    <!--<add name="Level2" connectionString="Application Name=LockVerification;Data Source=10.93.1.108;Initial Catalog=Level2_Line2;User ID=Level2;Password=123level2123;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Level2" connectionString="Application Name=LockVerification;Data Source=localhost\SQLSERVERDEVELOP;Initial Catalog=Prueba;User ID=sa;Password=Notiene12345;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="Level2" connectionString="Application Name=LockVerification;Data Source=10.92.23.111;Initial Catalog=Level2_Tubing;User ID=Tesis;Password=Tesis01;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!--<ManagerBaseConfiguration areaCode="FAT2_Line2" defaultConnectionStringName="Level2"/> Comment-->
  <ManagerBaseConfiguration areaCode="TMTbFn6" defaultConnectionStringName="Level2"/>

  <LockVerificationConfiguration factoryType="Tenaris.Tamsa.LockVerification.Manager.Factory, Tenaris.Tamsa.LockVerification.Manager" isSingleton="True"/>
  
  <!--<Tenaris.VDI.Manager.VDIManager factoryType="Tenaris.VDI.Manager.VDIFactory, Tenaris.VDI.Manager.VDIManager" isSingleton="True">
      <VDIManagerConfiguration
        handshakesImplementationAssemblyName=".\Tenaris.VDI.Manager.VDIManager.dll"
        handshakesContractAssemblyName=".\Tenaris.VDI.Manager.Handshake.Common.dll"
        applicationCode="VDIManager"
      />
  </Tenaris.VDI.Manager.VDIManager>-->

  <!--mailAddressesTo="AGARCIADELV@proveedores.tamsa.com.mx;ssanpedro@tamsa.com.mx;avarillas@tamsa.com.mx;ivan.lobos@tamsa.com.mx;jfuentesm@tamsa.com.mx;jmolinap@tamsa.com.mx;ESILVA@tenaris.com;HARROYO@tenaris.com;IALEMANC@tamsa.com.mx;rgutierrezdev@tamsa.com.mx"-->
  <!--mailAddressesTo="AGARCIADELV@proveedores.tamsa.com.mx;tamgniv2@tamsa.com.mx"-->


  <ManagerConfiguration warningTime="03:00"
                        alarmTime="03:45"
                        blockTime="03:55"
                        toleranceTime="00:00"
                        verificationCount="4"
                        idTrackingStatus="5"
                        iterationsVerification="10000"
                        applicationCode="LockVerificationView"
                        applicationCommand="UnlockFAT3"
                        userN2="Level2"
                        mailAddressesTo="rmontero@tenaris.com;pgonzalezr@tenaris.com;FALVAREZ@tenaris.com;CINIGUEZ@tenaris.com;jrperez@tenaris.com"
                        mailAddressesFrom="ADESPINOZAVELASCO@suppliers.tenaris.com"
                        mailSubject="Tiempo de verificacion en UnlockFAT3 excedido"
                        nameArea="FAT3 (Linea Tubing)"
                        adapterDependencies="Dependencies"
                        commandAdapterAssemblyFullName="Adapter\Tenaris.Tamsa.LockVerification.CommandAdapter.dll"
                        commandAdapterClassName="Tenaris.Tamsa.LockVerification.CommandAdapter.CommandAdapter"
                        />

  <Tenaris.Manager.Mail instanceType="Tenaris.Manager.Mail.Shared.IMailManager, Tenaris.Manager.Mail.Shared" 
                        url="tcp://10.92.70.82:49901/MailManager.soap" 
                        forumPresent="false" 
                        isTargetManager="true" 
                        aliveInterval="5000" 
                        singleInstance="true" 
                        validateConnection="true"/>

  <Tenaris.Manager.Command.CommandManager
      url="tcp://127.0.0.1:10104/Tenaris.Manager.Command.CommandManager.soap"
      instanceType="Tenaris.Manager.Command.Common.ICommandManager, Tenaris.Manager.Command.Common"
      aliveInterval="1000"
      forumPresent="false"
	    isTargetManager="true">
  </Tenaris.Manager.Command.CommandManager>
 
  <Tenaris.Tamsa.LockVerification.CommandAdapter>
    <CommandConfigurations>
      <CommandConfig MachineCode="TMTbFn6_NDT" CommandCode="CMP0102LOCK" IsAutoUnlock="true" LockingStatus="CMP0102LOCKLocking" LockedStatus="CMP0102LOCKLocked" UnlockingStatus="CMP0102LOCKLocking" UnlockedStatus="CMP0102LOCKUnlocked"/>
    </CommandConfigurations>
  </Tenaris.Tamsa.LockVerification.CommandAdapter>
  
<!-- Remoting configuration -->
  <system.runtime.remoting>
    <customErrors mode="off" />
    <application name="Server">
      <channels>
        <!--<channel ref="tcp" port="9191" bindTo="10.93.1.126" timeout="120000">-->
        <channel ref="tcp" port="9191" timeout="120000">
          <serverProviders>
            <formatter ref = "binary" typeFilterLevel = "Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" />
            <formatter ref = "binary" typeFilterLevel = "Full" />
          </clientProviders>
        </channel>
      </channels>
      <service>
      </service>
    </application>
  </system.runtime.remoting>

  <!--LOG CONFIGURATION-->
  <log
	 maxFileSize="8096"
	 msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
	 logLevel="Debug"
	 traceAttributeLogEnabled="false"
	 logBaseName="Tenaris.Tamsa.SM.Manager.Profile.Host"
	 additionalLogDestination="Console" 
   path="D:\Data\Logs\LockVerification\"/>
    
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="D:\Appls\Meza\CND-Manager\source\Tenaris.Tamsa.LockVerification.Manager.Host\bin\Debug\Adapter\;"/>
    </assemblyBinding>
  </runtime>

</configuration>