<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>    
    <section name="Tenaris.Manager.Mail" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>    
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
  </configSections>

  <connectionStrings>    
    <add name="Premium31" connectionString="Application Name=MailManager;Data Source=10.92.30.100;Initial Catalog=Level2_Premium31_Developer;User ID=Level2;Password=123Level2123;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <ManagerBaseConfiguration areaCode="Premium31" defaultConnectionStringName="Premium31"/>

  <Tenaris.Manager.Mail factoryType="Tenaris.Manager.Mail.Factory.MailManagerFactory, Tenaris.Manager.Mail" isSingleton="True">
    <MailManager hostSMTP="mail.tamsa.techint.net" portSMTP="25"/>
  </Tenaris.Manager.Mail>

  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="50053">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log maxFileSize="8192" 
       msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}" 
       logLevel="Debug" 
       traceAttributeLogEnabled="false" 
       logBaseName="MailManager" 
       additionalLogDestination="Console" 
       path="D:\Logs\Tenaris.Manager.MailManager\"/>


  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
